@import url('https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic&subset=latin,latin-ext');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.navigation{
  position: fixed;
  width: 350px;
  height: 100vh;
  background-color: beige;
  padding-top: 60px;
}

.appName{
 font-size: 1.8rem; 
}

.links{
  display: block;
  font-size: 1.5rem;
  pad: 1rem 1.5rem;
  padding-top: 20px;
  text-decoration: none
}

.homeButton{
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 20px;
  margin-top: 20px;
}